@import '@/assets/scss/rem.scss';

.img-lazy-load {
    padding: px2rem(15px);
    .title {
        text-align: center;
    }
    .list {
        padding: 0 px2rem(15px);
        overflow-x: hidden;
        overflow-y: scroll;
        .img-container {
            height: px2rem(200px);
            margin: px2rem(10px) 0;
            overflow: hidden;
            .img {
                max-width: 100%;
                object-fit: contain;
            }
        }
    }
}
