.home {
    font-size: 24px;
    min-height: 400px;
    object-fit: contain;
    background: url("../../assets/img/xiyangyang.jpg") no-repeat center;
}
.text {
    font-size: 20px;
    color: aquamarine;
}
.account {
    width: 60px;
}
.large-btn {
    display: inline-block;
    height: 80px;
}
